{{> menu}}
<section class="transparent-background m-6">
    <div class="container">
        <h1 class="title has-text-white">Edit User As Admin</h1>
        <form id="editUserForm" action="/admin/updateUser" method="POST">
            <!-- Hidden field for original email -->
            <input type="hidden" name="originalEmail" value="{{user.email}}">

            <div class="field">
                <label class="label has-text-white">Email</label>
                <input class="input" type="email" name="email" value="{{user.email}}" required>
            </div>
            <div class="field">
                <label class="label has-text-white">First Name</label>
                <input class="input" type="text" name="firstName" value="{{user.firstName}}" required>
            </div>
            <div class="field">
                <label class="label has-text-white">Last Name</label>
                <input class="input" type="text" name="lastName" value="{{user.lastName}}" required>
            </div>
            <div class="field">
                <label class="label has-text-white">Password</label>
                <input class="input" type="password" name="password" value="{{user.password}}" required>
            </div>
            <div class="field">
                <label class="label has-text-white">Role</label>
                <div class="select">
                    <select name="role">
                        <option value="user" {{#if (equal user.role "user")}}selected{{/if}}>User</option>
                        <option value="admin" {{#if (equal user.role "admin")}}selected{{/if}}>Admin</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <button class="button is-primary m-6" type="submit">Update</button>
            </div>
        </form>
    </div>
</section>

{{>footer}}