{{> menu}}

<section class="section">
  <div class="container">
    <h1 class="title">User Statistics</h1>

    {{#each analytics}}
      <div class="box">
        <h2 class="subtitle">User: {{@key}}</h2>
        <p><strong>Login Count:</strong> {{this.loginCount}}</p>
        {{#each this.logins}}
          <div class="content">
            <p><strong>Date:</strong> {{this.date}}</p>
            <p><strong>Device:</strong> {{this.deviceInfo}}</p>
            <p><strong>IP:</strong> {{this.ip}}</p>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>
