<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Landmark Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    {{#each landmarkCategory.tracks}}
      <tr>
        <td>
          {{landmarkTitle}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <a href="/landmarkCategory/{{../landmarkCategory._id}}/deletetrack/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
