<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Landmark Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each landmarkCategory.landmarks}}
      <tr>
        <td>
          {{landmarkTitle}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{latitude}}
        </td>
                <td>
          {{longitude}}
        </td>
<td>
  <a href="/landmarkCategory/{{../landmarkCategory._id}}/deleteLandmark/{{this._id}}" class="ui icon button">
    <i class="fas fa-trash"></i>
  </a>
</td>
      </tr>
    {{/each}}
  </tbody>
</table>
